<div class="wrapper" (click)="hideList()">
    <div class="notebooks-container">
        <div *ngFor="let notebook of notebooks; index as i" (click)="hideList(); setSelectedNoteBookIndex(i);" (contextmenu)="setSelectedNoteBookIndex(i); showList($event)">
            <a [routerLink]="'/'" [queryParams]="{id:getRouteId(i)}" class="nav-link" routerLinkActive="active" [ngClass]="{ 'active-notebook': i === selectedNoteBookIndex }">
                <div class="notebooks" (click)="setNoteParentTitle('notebook', i)">
                    <img src={{notebook.img}} alt="notebook image"/>
                    <span *ngIf="!editing[i]" (dblclick)="toggleEdit(i)">{{notebook.name | notebookTitle}}</span>
                    <input *ngIf="editing[i]" type="text" [(ngModel)]="notebooks[i].name" (blur)="toggleEdit(i)" (keyup.enter)="toggleEdit(i)"/>
                </div>
            </a>
        </div>

        <div *ngIf="showListFlag && selectedNoteBookIndex !== -1" [style.left.px]="listPositionX" [style.top.px]="listPositionY" class="clicked-list">
            <ul class="contextmenu">
                <li (click)="toggleEdit(selectedNoteBookIndex); hideList()">Rename</li>
                <li (click)="deleteNoteBook(selectedNoteBookIndex); hideList()">Delete</li>
            </ul>
        </div>
    </div>
    <div class="add-new" (click)="emitAddNoteBookEvent()"><img src="../../assets/images/plus.png" alt="add notebook"/><span>New notebook</span></div>
</div>
